<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Attendance Tracking System</title>
      <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="app-container">
        {{> sidebar}}
        <main class="main-content">
            {{{body}}}
        </main>
    </div>
    {{>footer}}

    {{#if user}}
       <span class="user-name">{{user.email}}</span>
    {{/if}}
</body>
</html>